Transworld-InvoiceImport-CSV.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://Transworld-InvoiceImport-CSV" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" targetNamespace="http://Transworld-InvoiceImport-CSV" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:appinfo>
      <schemaEditorExtension:schemaInfo namespaceAlias="b" extensionClass="Microsoft.Azure.Integration.DesignTools.FlatFileExtension.FlatFileExtension" standardName="Flat File" xmlns:schemaEditorExtension="http://schemas.microsoft.com/BizTalk/2003/SchemaEditorExtensions" />
      <b:schemaInfo standard="Flat File" codepage="65001" default_pad_char=" " pad_char_type="char" count_positions_by_byte="false" parser_optimization="speed" lookahead_depth="3" suppress_empty_nodes="false" generate_empty_nodes="true" allow_early_termination="false" early_terminate_optional_fields="false" allow_message_breakup_of_infix_root="false" compile_parse_tables="false" root_reference="Root" />
    </xs:appinfo>
  </xs:annotation>
  <xs:element name="Root">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" child_delimiter_type="hex" child_delimiter="0xD 0xA" child_order="postfix" sequence_number="1" preserve_delimiter_for_empty_data="true" suppress_trailing_delimiters="false" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:annotation>
          <xs:appinfo>
            <groupInfo sequence_number="0" xmlns="http://schemas.microsoft.com/BizTalk/2003" />
          </xs:appinfo>
        </xs:annotation>
        <xs:element maxOccurs="unbounded" name="Detail">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" child_delimiter_type="char" child_delimiter=";" child_order="infix" sequence_number="1" preserve_delimiter_for_empty_data="true" suppress_trailing_delimiters="false" />
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:annotation>
                <xs:appinfo>
                  <groupInfo sequence_number="0" xmlns="http://schemas.microsoft.com/BizTalk/2003" />
                </xs:appinfo>
              </xs:annotation>
              <xs:element name="Col1" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="1" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="Col2" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="2" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="Col3" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="3" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="Col4" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="4" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="Col5" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="5" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="Col6" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="6" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			   <xs:element name="Col7" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="7" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			   <xs:element name="Col8" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="8" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			   <xs:element name="Col9" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="9" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			   <xs:element name="Col10" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="10" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			   <xs:element name="Col11" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="11" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			   <xs:element name="Col12" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="12" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			   <xs:element name="Col13" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="13" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col14" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="14" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col15" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="15" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col16" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="16" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col17" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="17" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col18" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="18" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col19" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="19" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col20" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="20" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col21" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="21" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			   <xs:element name="Col22" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="22" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			   <xs:element name="Col23" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="23" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			   <xs:element name="Col24" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="24" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col25" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="25" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col26" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="26" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col27" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="27" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col28" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="28" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col29" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="29" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col30" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="30" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col31" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="31" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col32" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="32" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			   <xs:element name="Col33" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="33" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			   <xs:element name="Col34" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="34" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			   <xs:element name="Col35" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="35" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col36" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="36" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col37" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="37" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col38" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="38" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col39" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="39" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col40" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="40" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col41" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="41" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col42" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="42" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			   <xs:element name="Col43" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="43" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			   <xs:element name="Col44" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="44" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			   <xs:element name="Col45" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="45" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col46" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="46" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col47" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="47" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col48" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="48" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col49" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="49" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col50" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="50" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col51" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="51" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col52" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="52" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			   <xs:element name="Col53" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="53" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			   <xs:element name="Col54" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="54" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			   <xs:element name="Col55" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="55" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col56" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="56" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col57" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="57" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col58" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="58" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col59" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="59" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col60" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="60" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col61" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="61" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col62" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="62" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			   <xs:element name="Col63" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="63" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			   <xs:element name="Col64" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="64" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			   <xs:element name="Col65" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="65" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col66" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="66" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col67" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="67" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col68" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="68" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col69" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="69" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col70" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="70" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col71" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="71" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col72" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="72" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			   <xs:element name="Col73" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="73" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			   <xs:element name="Col74" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="74" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			   <xs:element name="Col75" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="75" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col76" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="76" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col77" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="77" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col78" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="78" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col79" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="79" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col80" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="80" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col81" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="81" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col82" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="82" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			   <xs:element name="Col83" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="83" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			   <xs:element name="Col84" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="84" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			   <xs:element name="Col85" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="85" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col86" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="86" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col87" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="87" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col88" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="88" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col89" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="89" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col90" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="90" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col91" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="91" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col92" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="92" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			   <xs:element name="Col93" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="93" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			   <xs:element name="Col94" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="94" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			   <xs:element name="Col95" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="95" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col96" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="96" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col97" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="97" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col98" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="98" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col99" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="99" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col100" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="100" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col101" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="101" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col102" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="102" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			   <xs:element name="Col103" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="103" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			   <xs:element name="Col104" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="104" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			   <xs:element name="Col105" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="105" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col106" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="106" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col107" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="107" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col108" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="108" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col109" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="109" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col110" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="110" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col111" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="111" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col112" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="112" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			   <xs:element name="Col113" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="113" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			   <xs:element name="Col114" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="114" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			   <xs:element name="Col115" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="115" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col116" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="116" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col117" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="117" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col118" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="118" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col119" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="119" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col120" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="120" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col121" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="121" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col122" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="122" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			   <xs:element name="Col123" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="123" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			   <xs:element name="Col124" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="124" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			   <xs:element name="Col125" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="125" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col126" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="126" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col127" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="127" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col128" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="128" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col129" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="129" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col130" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="130" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col131" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="131" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col132" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="132" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			   <xs:element name="Col133" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="133" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			   <xs:element name="Col134" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="134" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			   <xs:element name="Col135" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="135" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col136" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="136" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col137" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="137" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col138" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="138" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col139" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="139" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col140" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="140" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col141" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="141" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col142" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="142" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			   <xs:element name="Col143" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="143" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			   <xs:element name="Col144" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="144" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			   <xs:element name="Col145" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="145" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col146" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="146" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col147" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="147" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col148" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="148" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col149" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="149" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col150" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="150" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col151" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="151" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col152" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="152" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			   <xs:element name="Col153" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="153" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			   <xs:element name="Col154" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="154" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			   <xs:element name="Col155" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="155" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col156" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="156" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col157" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="157" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col158" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="158" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col159" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="159" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col160" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="160" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col161" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="161" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col162" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="162" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			   <xs:element name="Col163" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="163" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			   <xs:element name="Col164" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="164" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			   <xs:element name="Col165" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="165" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col166" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="166" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col167" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="167" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col168" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="168" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col169" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="169" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element name="Col170" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo justification="left" sequence_number="170" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>